<h1>All Ideas</h1>
<hr/>

<% @ideas.each do |idea| %>
  <div class="idea">
    <h3><a href="/ideas/<%= idea.id %>"><%= idea.title %></a> 
    	<%= idea.comment_count || 0 %> 
    </h3>

    <small>(by: <%= idea.author %>)
    </small>

    <p>
      <%= idea.content %>
    </p>
  </div>
<% end %>

<hr/>
<a href="/ideas/new">Click here to Post Your Idea</a>