<div class="container" style="padding-top: 165px;">
<% if !current_user %>

<a href = "/">Back To All Ideas</a>
<h1><%= @idea.title %></h1>
<p><%= @idea.content %></p>

<% else %>
<div class="panel panel-primary">
<div class="panel-heading">
    <h3 class="panel-title">Idea</h3>
  </div>
  <div class="panel-body">

<h1><%= @idea.title %></h1>
<p><%= @idea.content %></p>

<% vote = current_user.idea_votes.find_by(idea_id: @idea.id) %> 
<% if vote %>

	<span style="color:green;">Thanks for voting!</span>
	<% unless current_user.already_commented(@idea) %>
		<% if vote.like %>
			<form action = "/ideas/<%= @idea.id %>/comments?like=true" 
			method = "post">
				<div class="input-group">
		    <span class="input-group-addon">What do you like about this idea?</span>
		    <input type="text" 
		    class="form-control" 
		    name="content">
		  </div><br/>
			</form>

		<% else %>
			<form action = "/ideas/<%= @idea.id %>/comments?like=false" 
			method = "post">
				<div class="input-group">
		    <span class="input-group-addon">What do you dislike about this idea?</span>
		    <input type="text" 
		    class="form-control" 
		    name="content">
		  </div><br/>
			</form>
		<%end%>
	<%end%>

<% else %>

	<form class="form-inline" action = "/ideas/<%= @idea.id %>/likes?like=true" 
	method = "post">
	<button type = "submit" value = "Dislike" class="btn btn-success"><span class="glyphicon glyphicon-thumbs-up"></span> Like</button>
	</form><br/>
	<form class="form-inline" action = "/ideas/<%= @idea.id %>/likes?like=false" method = "post">
		<button type = "submit" value = "Dislike" class="btn btn-info"><span class="glyphicon glyphicon-thumbs-down"></span> Dislike</button>
	</form>
<% end %>
</div>
<%end%>

<hr/>
<div class="container">
	<h3>Comments:</h3>
	<div style="font-size:16px; color:green;">
		 	<% for_comments = @idea.comments.where(for_or_against: true) %>
		 	<% for_comments.each do |comment| %>
		 	<div style="margin-bottom:10px;"><strong><%= comment.user.username %> :</strong>
		  <%= comment.content %>
		  <span style="color:green" class="glyphicon glyphicon-circle-arrow-up"></span>
		  <span style="color:red" class="glyphicon glyphicon-circle-arrow-down"></span>
		  </div>
		  <% end %>
	</div>

	<div style="font-size:16px; color:red; margin-bottom:10px">
		 	<% for_comments = @idea.comments.where(for_or_against: false) %>
		 	<% for_comments.each do |comment| %>
		 	<div style="margin-bottom:10px;"><strong><%= comment.user.username %> :</strong>
		  <%= comment.content %>
		  <span style="color:green" class="glyphicon glyphicon-circle-arrow-up"></span>
		  <span style="color:red" class="glyphicon glyphicon-circle-arrow-down"></span>
		  </div>
		  <% end %>
	</div>
	<br/>

</div>
	
<hr/>
</div></div>



<!-- This page should display all the comments -->