<div class="container" style="padding-top: 165px;">
<% if !current_user %>

<a href = "/">Back To All Ideas</a>
<h1><%= @idea.title %></h1>
<p><%= @idea.content %></p>




<% else %>

<a href = "/">Back To All Ideas</a>
<h1><%= @idea.title %></h1>
<p><%= @idea.content %></p>

<% vote = current_user.idea_votes.find_by(idea_id: @idea.id) %> 
<% if vote %>

	You have already voted
	<% unless current_user.already_commented(@idea) %>
		<% if vote.like %>
			<form action = "/ideas/<%= @idea.id %>/comments?like=true" 
			method = "post">
				<div class="input-group">
		    <span class="input-group-addon">Why do you like this idea?</span>
		    <input type="text" 
		    class="form-control" 
		    name="content">
		  </div><br/>
			</form>

		<% else %>
			<form action = "/ideas/<%= @idea.id %>/comments?like=false" 
			method = "post">
				<div class="input-group">
		    <span class="input-group-addon">Why do you dislike this idea?</span>
		    <input type="text" 
		    class="form-control" 
		    name="content">
		  </div><br/>
			</form>
		<%end%>
	<%end%>

<% else %>
	<form action = "/ideas/<%= @idea.id %>/likes?like=true" 
	method = "post">
		<input type = "submit" value = "Like">
	</form><br/>
	<form action = "/ideas/<%= @idea.id %>/likes?like=false" method = "post">
		<input type = "submit" value = "Dislike">
	</form>
<% end %>
</div>

<%end%>
<div class="container" style="padding-top: 15px;">
	<h3>Comments:</h3>
	<p>
	 	<% @idea.comments.each do |comment| %>
	 	<strong><%= comment.user.username %> :</strong>
	  <%= comment.content %> </br>
	  <% end %>
	</p>
 </div>




<!-- This page should display all the comments -->