<div class="container" style="padding-top: 165px;">
<div class="panel panel-primary">
<div class="panel-heading">
    <h3 class="panel-title">Ideas</h3>
  </div>
  <div class="panel-body">

<% @ideas.each do |idea| %>
	<div class="idea">
		<h3><a href="/ideas/<%= idea.id %>"><%= idea.title %></a></h3>
		<h4>Vote Count: <%= idea.vote_count %>
		 Comment Count: <%= idea.comment_count %>
		</h4>
	
		<small>(by: <%= User.find(idea.user_id).username %>)</small>
	</div>
<%end%>

</div>
</div></div>