<div class="container" style="padding-top: 165px;">

<button type="button" class="btn btn-default navbar-btn"><a href="/ideas/new">Post New Idea</a></button>

<% @ideas.each do |idea| %>
	<div class="idea">
		<h3><a href="/ideas/<%= idea.id %>"><%= idea.title %></a></h3>
		<h4>Vote count: <%= idea.vote_count %>
		 Comment count: <%= idea.comment_count %>
		</h4>
	
		<small>(by: <%= User.find(idea.user_id).username %>)</small>
	</div>
<%end%>

</div>